  <section class="row">
  </section>
  <section class="row aboutRow">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-3">
      <img src="../assets/aboutIMG.jpg" class="aboutImg">
    </div>
    <div class="col-sm-6">
      <section class="row">
        <h2 class="aboutH2">I am a web developer in the greater Seattle area with a passion for the outdoors, travel and family. I have held many different positions in a diverse set of industries. Through these I know how to learn new skills quickly and how to stay calm when in stressful situations. I work well in teams as well as on my own and I enjoy learning and mastering any subject. I hope to bring a hard working, calm, and resourceful member to any company.</h2>
      </section>
      <section class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10 contactDiv text-center">
          <a href="mailto:ed.gervais.dev.test@gmail.com?Subject=I%20Liked%20Your%20App" target="_top">
            <button class="btn btn-default">
              <span class="glyphicon glyphicon-envelope"></span>
            </button>
          </a>
          <a href="https://www.facebook.com/edd.on.trails">
            <button class="btn btn-default">
              <i class="fa fa-facebook-square"></i>
            </button>
          </a>
          <a href="https://twitter.com/egervais7">
            <button class="btn btn-default">
              <i class="fa fa-twitter"></i>
            </button>
          </a>
          <a href="https://www.pinterest.com/fastedward1989/">
            <button class="btn btn-default">
              <i class="fa fa-pinterest"></i>
            </button>
          </a>
          <a href="https://www.linkedin.com/in/eagervais">
            <button class="btn btn-default">
              <i class="fa fa-linkedin-square"></i>
            </button>
          </a>
          <a href="https://portfolio.edgervais.com">
            <button class="btn btn-default">
              <i class="fa fa-map"></i>
            </button>
          </a>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
    <div class="col-sm-1">
    </div>
  </section>
  <section class="row">
    <div class="container container-fluid bottomAbout">
    </div>
  </section>
