<section class="row text-center basicRow">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
  <h1 class="basicsH1">5 basic skills for beginner woodworkers!<br><a href="http://www.makeuseof.com/tag/beginners-woodworking-5-skills-need-know/">Full article click here</a></h1>
  <% if(basicSkills) { %>
    <% basicSkills.forEach(function(value, index) { %>
      <div class="well basicDiv">
        <h2 class="basicsH2"><%= value.titles %></h2><br>
        <h3 class="basicsH3"><%= value.texts %></h3><br>
      </div>
      <% }); %>
    <% } %>
  </div>
  <div class="col-sm-1">
  </div>
</section>
