<% if(currentUser) { %>
  <div class="container container-fluid">
    <section class="row text-center">
    </section>
    <section class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-10 text-center woodDiv">
        <% if(woods) { %>
          <% woods.forEach(function(value, index) { %>
            <div class="well col-sm-3 indexDiv">
              <img src="<%= value.image %>" class="indexImgs">
              <p class="beginnersH3"><%= value.text %></p>
            </div>
          <% }); %>
        <% } %>
        <h1 class="woodsH1"><a href="http://www.wood-database.com/wood-articles/wood-identification-guide/">This full article</a><br>
        <a href="http://woodfloors.org/types.aspx">Read about wood flooring</a><br></h1>
      </div>
      <div class="col-sm-1">
      </div>
    </section>
  </div>
<% } else { %>
<section class="row text-center else">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 jumbotron">
    <h3> Please log in to continue </h3>
    <div>
      <a href="/auth/login" class="btn btn-success">Login</a>
      <a href="/auth/signup" class="btn btn-success">Signup</a>
  </div>
  <div class="col-sm-4">
  </div>
</section>
<% } %>
