<% if(currentUser) { %>
  <div class="container container-fluid">
    <section class="row text-center">
    </section>
    <section class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-10 text-center">
        <h1 class="woodsH1">Types of wood<br>
        <a href="http://www.wood-database.com/wood-articles/wood-identification-guide/">This full article</a><br>
        <a href="http://woodfloors.org/types.aspx">Read about wood flooring</a><br></h1>
        <% if(woods) { %>
          <% woods.forEach(function(value, index) { %>
            <div class="well">
              <img src="<%= value.image %>">
              <h3 class="beginnersH3"><%= value.text %></h3>
            </div>
          <% }); %>
        <% } %>
      </div>
      <div class="col-sm-1">
      </div>
    </section>
  </div>
<% } else { %>
<section class="row text-center">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 jumbotron">
    <h1> Please log in to conitune </h1>
    <div>
      <a href="/auth/login" class="btn btn-success">Login</a>
      <a href="/auth/signup" class="btn btn-success">Signup</a>
  </div>
  <div class="col-sm-4">
  </div>
</section>
<% } %>
