<!DOCTYPE html>
<html>
  <head>
    <title>WOODIES</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src='../script.js'></script>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="../woodies.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body class="woodImg">
  <nav class="navbar navbar-default" style="height: 100px;">
    <div class="container-fluid">
      <div class="navbar-brand">
        <a style="position: relative; top: 45px; font-size:40px" class="navbar-brand">
        </a>
      </div>
      <header style="text-align: center"><h1 class="welcomeH1">Welcome to Woodies!</h1>
      </header>
      <div class="collapse navbar-collapse navbar-ex1-collapse divNav">
        <ul class="nav navbar-nav navbar-left" style='position: relative; right:20px'>
          <li style="font-weight: bold; font-size: 25px"><a href="/">Home</a></li>
          <li style="font-weight: bold; font-size: 25px"><a href="/about">About</a></li>
          <li style="font-weight: bold; font-size: 25px"><a href="<%= lastPage %>">Back</a></li>
        </ul><br>
        <% if(currentUser) { %>
          <ul class="nav navbar-nav navbar-left currentUserStyle">
              <p class="navbar-text">Signed in as <%= currentUser.name %></p>
              <li><a href="/auth/logout">Logout</a></li>
          </ul>
        <% } %>
        <div class="dropdown navbar-right dropNav">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            Nav
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/toolSearch">Basic Tools</a></li>
            <li><a href="/tools">Your Tools</a></li>
            <li><a href="/beginners">Beginner Projects</a></li>
            <li><a href="/search">Search for Projects</a></li>
            <li><a href="/basics">Basic Skills</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
  </div>
  <% include ./partials/alerts %>
  <%- body %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>
</html>
