<section class='row text-center'>
  <h1>Your Tools!!</h1>
</section>
<section class="row">
  <div class="col-sm-2">
  </div>
  <div class='col-sm-8'>
    <section class='row'>
      <% tools.forEach(function(tools){ %>
        <div class="well">
          <a href='<%= tools.link%>'><h2><%= favorites.title %><br>
          <img src='<%= tools.image %>'>
        </div>
      <% }); %>
    </section>
  </div>
  <div class="col-sm-3">
  </div>
</section>
