<% if(currentUser) { %>

<% } else { %>
  <section class="row text-center">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4 jumbotron">
      <h1> Please log in to conitune </h1>
      <div>
        <a href="/auth/login" class="btn btn-success">Login</a>
        <a href="/auth/signup" class="btn btn-success">Signup</a>
    </div>
    <div class="col-sm-4">
    </div>
  </section>
<% } %>
