<% if(currentUser) { %>
  <section class="row pinRow">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10 text-center">
      <h2 class="searchH2">Find Projects on Pinterest</h2>
      <form action="/search" method="POST" role="form" class="pinForm">
        <input type="text" class="form-control" name="q" placeholder="Project Name">
      </form>
      <section class="row text-center">
          <% if(pins){ %>
            <% pins.data.forEach(function(pin){ %>
              <div class="well col-sm-4 pinDiv">
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/<%= pin.id %>/"></a>
              </div>
            <% }); %>
          <% } else { %>
            <p>Please Type In A Search Term</p>
          <% } %>
      </section>
    </div>
    <div class="col-sm-1">
    </div>
  </section>
  <% } else { %>
    <section class="row text-center else">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4 jumbotron">
        <h3> Please log in to search woodworking ideas from pinterest </h3>
        <div>
          <a href="/auth/login" class="btn btn-success">Login</a>
          <a href="/auth/signup" class="btn btn-success">Signup</a>
      </div>
      <div class="col-sm-4">
      </div>
    </section>
  <% } %>
