<% if(currentUser) { %>
  <section class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 toolDiv text-center">
      <h2 id="toolH2">12 basic woodworking tools</h2><br>
       <% if (basicTools) { %>
        <% basicTools.forEach(function(value, index) { %>
          <div class="well">
            <h2 class="toolsearchH2"><%= value.title %></h2>
            <a href="http://www.startwoodworking.com/lists/12-basic-hand-tools-woodworking"><img src="<%= value.image %>"></a>
          </div>
        <% }); %>
      <% } %>
    </div>
    <div class="col-sm-2">
    </div>
  </section>
<% } else { %>
  <section class="row text-center">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4 jumbotron">
      <h1> Please log in to conitune </h1>
      <div>
        <a href="/auth/login" class="btn btn-success">Login</a>
        <a href="/auth/signup" class="btn btn-success">Signup</a>
    </div>
    <div class="col-sm-4">
    </div>
  </section>
<% } %>
