.navbar-default {
  background-color: #27afd4;
  border-color: #8e44ad;
}
.woodImg {
  background-image : url("http://i.imgur.com/g96Zpo7.jpg?1");
  background-size : 100% 100%;
  background-repeat : no-repeat;
  background-attachment : fixed;
}
.toolForm {
  width : 75%;
  margin: 0 auto;
}
.searchToolForm {
  width : 75%;
  margin: 0 auto;
}
.bottomAbout {
  background-image : url("http://i.imgur.com/QKw0kUJ.jpg?1");
  background-size : 100% 100%;
}
.currentUserStyle {
  position: relative;
  top: 25px;
  left : -250px;
}
.dropNav {
  position: relative;
  top: -5px;
}
.divNav {
  position: relative;
  top: -55px;
}
.pinImg {
  height: 300px;
  widht: 300px;
}
.indexImgs {
  height: 150px;
  width: 150px;
}
.beginProj {
  height: 200px;
  width: 235px;
}
.custDiv {
  height: 300px;
  border-radius : 25px;
  border: 3px solid green;
}
.indexDiv {
  height: 400px;
}
.link40 {
  padding: 15px;
  font-size: 30px;
}
.beginDiv {
  height: 500px;
  border: 5px solid blue;
  border-radius: 50px;
}
.welcomeH1 {
  position: relative;
  top: 10px;
}
.pinForm {
  padding: 15px;
  text-align: center;
}
.pinRow {
  font-family: 'Lobster', cursive;
}
#toolH1 {
  position: relative;
  top : -50px;
}
#toolH2 {
  position: relative;
  top: -45px;
}
.basicsH1 {
  position: relative;
  top: -45px;
}
.searchH2 {
  position: relative;
  top: -45px;
}
.pinDiv {
  overflow: scroll;
  height: 400px;
  border: 2px solid red;
  border-radius: 25px;
}
.userToolDiv {
  height: 330px;
  border: 3px solid yellow;
  border-radius: 25px;
}
h1 {
  font-family: 'Sigmar One', cursive;
}
.aboutRow {
  font-family: 'Bangers', cursive;
}
.navText {
  font-family: 'Sigmar One', cursive;
  color: white;
}
.else {
  font-family: 'Sigmar One', cursive;
}
.woodDiv {
  font-family: 'Lobster', cursive;
}
.searchRow {
  font-family: 'Lobster', cursive;
}
.tabelRow {
  font-family: 'Lobster', cursive;
}
.basicToolDiv {
  font-family: 'Lobster', cursive;
}
.beginRow {
  font-family: 'Lobster', cursive;
}
.basicRow {
  font-family: 'Lobster', cursive;
}
.logRow {
  font-family: 'Lobster', cursive;
}
.basicDiv {
  border: 3px solid black;
  border-radius: 100px;
}
.aboutImg {
  border: 5px solid white;
  border-radius: 75px;
}
.contactDiv {
  font-size: 50px;
}
